
* text=auto

.editorconfig     text
.gitattributes     text
.gitignore     text
*.css     text
*.scss     text
*.js     text
*.json     text
*.map     text
*.md     text
*.txt     text
*.xml     text



*.php text eol=lf


*.jpg binary
*.jpeg binary
*.ttf binary
*.woff2 binary
